go 1.23.4

use (
	./app/frontend
	./app/product
	./app/user
	./app/cart
	./rpc_gen
)

//
//replace (
//  github.com/Alanxtl/mymall_go/app/frontend => ./app/frontend
//  github.com/Alanxtl/mymall_go/app/user => ./app/user
//  github.com/Alanxtl/mymall_go/rpc_gen => ./rpc_gen
//)
